//boton general del logout
.logout{
    border: 1px solid #f97316 ;
    box-shadow: none;
    outline: none !important;
}
.logout:hover {
    -webkit-transition: background-color 2s ease-in;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
 
    border: 1px solid #f8b78c ;
    background-color: #f8b78c;
    color: #fff;
    outline: none !important;
    box-shadow: none;
}