<table class="table table-bordered table-striped" style="border: none;">
    <thead>
        <tr>
            <td class="title-column">Id</td>
            <td class="title-column">Nom</td>
            <td class="title-column">Prenom</td>
        </tr>
    </thead>
    <tr *ngFor="let u of allRows" [class.selectedRow]="rowIsSelected(u.id)" (click)="onRowClick(u.id)" style="cursor: pointer;">
        <td class="row-left title">{{u.id}}</td>
        <td class="row-mid title">{{u.nom}}</td>
        <td class="row-mid title">{{u.prenom}}</td>
    </tr>
   </table>
  
   <button class="btn btn-primary" (click)="onLogClick()">Log selected rows</button>
