<div class="flex-row w-full min-h-screen">
    <div class="flex-row full">
        <div class="flex justify-between w-full bg-white px-10 items-center border-2 shadow-xl absolute top-0">
              <div class="transform flex flex-row items-end justify-end scale-50 -my-5">
                <img  class="img-responsive" src="assets/img/aedpaylogo2.png">
            </div>

            <div class="flex flex-row items-end justify-center space-x-10">
                <a class="text-blue-500 text-2xl font-semibold" href="" >AEDPAY local v1.1</a>
            </div>

            <div class="flex flex-row items-end justify-center space-x-10">
                   
                    <a class="text-gray-600 text-xl font-thin" href="" >Sign out</a>
            </div>
      
           
        </div>
        <!-- <div class="full border-t border-blue-400 border-2 mx-24"></div> -->
    
        <div class="flex flex-row">
            <div class="w-52 h-screen pt-24 space-y-2 px-2 bg-white border-r border-2 border-gray-200 min-h-69">
                <div [routerLink]="['/home/serverSettings']" class="flex flex-row gap-5 transition border-2 border-blue-400 text-gray-600 group hover:bg-blue-400 rounded-xl px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                    <h1 class="font-semibold text-lg group-hover:text-white">Server Settings</h1>
                </div>

                <div [routerLink]="['/home/events']" class="flex flex-row gap-5 transition border-2 border-blue-400 text-gray-600 group hover:bg-blue-400 rounded-xl px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                      </svg>
                    <h1 class="font-semibold text-lg group-hover:text-white">Manage Store</h1>
                </div>

                <div class="flex flex-row gap-5 transition border-2 border-blue-400 text-gray-600 group hover:bg-blue-400 rounded-xl px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                      </svg>
                    <h1 class="font-semibold text-lg group-hover:text-white">WIFI Settings</h1>
                </div>
            </div>
            
            
            <div class="pt-28 w-full">
             <router-outlet></router-outlet>   

            </div>
            

            
        </div>
    </div>


  
   
  



 <!-- modal delete -->
 <ng-template #modallogout let-modal >  
    <div aria-labelledby="modal-title"  >
  
     
        <div class=" px-4 py-4 ">
          <div class="text-center ">
              <h3 class="text-lg  font-medium text-gray-900" > aedpay has a new version</h3>
             
                <div class=" font-small text-gray-500">You currently have version {{actualV}}</div>
                <div class=" font-small text-gray-500">Do you want to get version {{newV}} right now?</div>
                 
          </div>
        </div>
    
        <div class="bg-gray-100 px-4 py-2 sm:px-6 sm:flex sm:flex-row-reverse">
          <button (click)="updateVersion()" class=" w-auto px-3 text-white bg-gray-900 border-2 border-gray-300 rounded-xl outline-none hover:bg-gray-800" >Update</button>
            &nbsp;
          <button (click)="modal.close()" class=" w-auto px-3  border-2 border-gray-300 rounded-xl outline-none hover:bg-gray-200" > Later</button> 
        </div>
    
    </div>
    </ng-template>