    <div class="wrapper">
        <!-- Sidebar  -->
        <nav  x-data="{open: false}" id="sidebar" class="w-1/5">
          <div style="height: 20%;width: 100%;">
          <div class="px-5 pt-5 ">
            
            <button x-on:click="open = false" *ngIf="actionGoback ==  'events' || actionGoback ==  'wifi' || actionGoback == 'manageStore'"  (click)="goBack()" >
              <div class="flex">
                <strong><svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 found-bold" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg></strong> &nbsp;<span style="margin: auto;">Go Back  </span>
              </div>              
            </button>

            <button  *ngIf="actionGoback =='selectEvent'"  (click)="goBack()" >
              <div class="flex">
                <strong><svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 found-bold" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg></strong> &nbsp;<span style="margin: auto;">Go Back  </span>
              </div>              
            </button>
           
            
          </div>
          </div>
          <div style="height: 55%;width: 100%;">
          
            <div class="px-5 " style="height: auto; width: 100%;margin-bottom: 1rem;  ">
               
              <div style="text-align: center;">
                  <div> <strong>{{fullName}}</strong></div>
                  <div><small>{{companyLegalName}}</small> </div>
                  <hr style="height: 2px; background-color: white;">
                </div>
            </div>
          
            <div id="Navigation" class="px-14 " style="height: auto; width: 100%; ">
              <div x-on:click="open = false" (click)="changeclassactive('')" [routerLink]="['/home/serverSettings']" class="serverSettings itemnavbar flex px-3 py-1 rounded-md  mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 p-0 m-0 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
                </svg> 
                &nbsp;
                Server Settings
              </div>

              <div  class=" mb-3">               
              <div (click)="changeclassactive('manage')" x-on:click="open = !open" class="manageStore itemnavbar flex px-3 py-1 rounded-md  mb-1">
                <svg  xmlns="http://www.w3.org/2000/svg" class="group-hover:text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                &nbsp;
                Manage Store
              </div>
                <div x-transition x-show="open" style="text-align: center;">
              <button class="event px-6 rounded-md logout" (click)="changeclassactive('event')" [routerLink]="['/home/events']">Events</button>
                
              </div>
            </div>              
            

              <div x-on:click="open = false" (click)="changeclassactive('wifi')" [routerLink]="['/home/wifiSettings']" class="wifisettings itemnavbar flex px-3 py-1 rounded-md  mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.111 16.404a5.5 5.5 0 017.778 0M12 20h.01m-7.08-7.071c3.904-3.905 10.236-3.905 14.141 0M1.394 9.393c5.857-5.857 15.355-5.857 21.213 0" />
                </svg>
                &nbsp;
                WIFI Settings
              </div>
              
            </div>
            
          </div>
          <div style="height: 25%;width: 100%;" class="flex justify-center items-center text-center">
                  <button (click)="openmodallogout(modallogout)" class=" px-3 rounded-md logout ">Log Out</button> 
          </div>
        </nav>

        <div id="content">
          <div style="width: 100%"><img style="height: 4rem;width: 12rem; margin-left:auto;" src="assets/img/aedpay.png" ></div>
          <div style="width: 100%;"><router-outlet ></router-outlet> </div>                   
        </div>
    </div>

   





     <!-- modal delete -->
     <!-- modal delete-->
<ng-template #modallogout let-modal>  
  
  <div class="bg-orange-500 text-white px-16 py-12  rounded-2xl">
    <div class="text-center w-full ">             
      <div class=" text-3xl font-bold "> <span > Log out Confirmation</span></div>    
      <div class=" text-lg py-4 "> <span >Are you sure to log out?</span></div>   
      <div class=" text-lg  ">
        <button (click)="logout()" class=" btndialog px-3 rounded-lg" >Exit</button>   &nbsp;
      <button (click)="modal.close()" class="btndialog px-3 rounded-lg" > Cancel</button>      
      </div>       
  </div>
  </div>

</ng-template>
