<div  class="flex min-h-screen justify-center items-center text-center">

    <form [formGroup]="formLogin" (submit)="login()"  class="flex flex-col rounded-xl border-2 border-blue-400 space-y-5 w-96 px-5 py-10">
      <div class="t-flex t-justify-end t-pr-10">
        <img  class="img-responsive" src="assets/img/aedpaylogo2.png">
  
      </div>
      <h1 class="font-bold text-xl text-gray-600">AEDPAY Configuration</h1>
  
      <input formControlName="username" class="border-2 rounded-xl px-2 py-2" type="text" placeholder="Username">
      <input formControlName="password" class="border-2 rounded-xl px-2 py-2" type="text" placeholder="Password">
      <button type="submit" class="transition ease-in-out rounded-xl px-2 py-2 bg-blue-400 text-white font-bold hover:bg-blue-500" >Login</button>
    </form>
    <!-- <div>
        {{formLogin.value | json}}
    </div> -->
  </div>

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Setting Up </p></ngx-spinner>