.inputlogin{
  border: 0; border-bottom: 2px solid rgb(129, 129, 129); outline: none;
}

.inputlogin::placeholder {
  color: rgb(211, 211, 211);
}


input { 
font-family: FontAwesome, "Open Sans", sans-serif;
}