/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


@tailwind base; 
@tailwind components;
@tailwind utilities;

.toast {
    max-width: 100% !important;
  }

  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }

  .buttonSorange{
    @apply py-1 text-sm font-bold px-3 text-aedblue transition delay-300 ease-in-out font-bold border-2 border-aedblue rounded-xl hover:bg-aedblue hover:text-white hover:opacity-50;
  }
 

  .nav-tabs .nav-link.active  {
   color: #a9afb9;
    border-color: #fff #fff #fff !important;
}
.nav-tabs {
  border-bottom: none;
}

//es para qeu la seccion de subir las salesordesrs aparezaca el scroll  
  .tab-content > .active {
    display: block;
    height: 85% !important;
}
//TABLES

