
<div class="
grid 
grid-cols-1 
sm:grid-cols-1 
md:grid-cols-1 
lg:grid-cols-3 
" >



  <div class=" mb-4 mr-4
  col-span-1 bg-white">
    <div class="tw-flex tw-flex-col ">
    <header id="headerlistevents" class="
    lg:sticky lg:top-28 lg:z-50 py-2 px-2 bg-white">
          <div class=" w-full py-3 text-gray-600 ">
            <div class="flex">
            <span style="color: #3cadee;" class="text-3xl"> <strong>Events</strong></span>
            &nbsp;&nbsp;
            <button class="text-gray-400 font-bold text-5xl" (click)="downloadEvents()" >
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rotate-right" class="svg-inline--fa fa-rotate-right w-8 h-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M468.9 32.11c13.87 0 27.18 10.77 27.18 27.04v145.9c0 10.59-8.584 19.17-19.17 19.17h-145.7c-16.28 0-27.06-13.32-27.06-27.2c0-6.634 2.461-13.4 7.96-18.9l45.12-45.14c-28.22-23.14-63.85-36.64-101.3-36.64c-88.09 0-159.8 71.69-159.8 159.8S167.8 415.9 255.9 415.9c73.14 0 89.44-38.31 115.1-38.31c18.48 0 31.97 15.04 31.97 31.96c0 35.04-81.59 70.41-147 70.41c-123.4 0-223.9-100.5-223.9-223.9S132.6 32.44 256 32.44c54.6 0 106.2 20.39 146.4 55.26l47.6-47.63C455.5 34.57 462.3 32.11 468.9 32.11z"></path>
              </svg>
            </button>
            </div>

            <div class="my-2 w-full">
              <form [formGroup]="searchForm">
                <input class="outline-none px-1 w-full border-2 rounded-md border-gray-400" type="text" (input)="searchevent()" formControlName="searchEvent" placeholder="Search a event">
              </form>
            </div>
          </div>
    </header>
    


    <main 
    id="listevents"
    style="height: 20rem;"
    class=" 
    flex-1 
    overflow-y-auto
    bg-white
    px-2">
            <div *ngFor="let event of events" [ngClass]="{' text-lightBlue-400': event.CID == event_id}" class="justify-center text-gray-400 flex  py-2 my-1 ">
              <div class="w-1/5  ">
                <svg (click)="orders(event.CID)"    class="bi bi-eye-fill w-7 h-7 hover:text-aedblue" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
              </div>

              <div class="w-4/5 ">
                <h1 class="text-gray-400 text-lg">{{event.sponsor}}</h1>
                <h1 class="text-gray-400 text-sm">{{event.program1}}</h1>
              </div>       
            </div>

    </main>
    </div>

  </div>


  <div id="cardorders" class="

lg:sticky lg:top-28 lg:z-60 
col-span-1
sm:col-span-1
md:col-span-1
lg:col-span-2

bg-gray-200 p-3 rounded-xl w-full" 
style="height: fit-content;">
    <app-list-orders [event_id]="event_id"></app-list-orders>
</div>

</div>
