<div class="flex p-4 " >

  <div class="px-2 bg-white" style="width: 20rem;" >

          <header class="flex w-full py-3 text-gray-600 " style="height:10%;">
            <span style="color: #3cadee;" class="text-3xl"> <strong>Events</strong></span>
            &nbsp;&nbsp;
            <button class="text-gray-400 " (click)="downloadEvents()" >
              <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-clockwise w-8 h-8 font-bold" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
              </svg>
            </button>
          </header>


          <div style="height: 35rem;overflow: auto;" >
          
            <div *ngFor="let event of events" [ngClass]="{' text-aedblue': event.CID == event_id}" class="  justify-center  flex  py-2 my-1 ">

              <div class="w-1/5  ">
                <svg (click)="orders(event.CID)" class="bi bi-eye-fill w-7 h-7  hover:text-aedblue" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
              </div>

              <div class="w-4/5 ">
                <h1 class="text-gray-400 text-lg">{{event.program1}}</h1>
                <h1 class="text-gray-400 text-sm">{{event.sponsor}}</h1>
              </div>       
            </div>
        </div>

  </div>
  
  <div class=" bg-gray-200 p-3 rounded-xl w-full" >
      <app-list-orders [event_id]="event_id"></app-list-orders>
  </div>


</div>
