<div class="flex flex-row  space-x-2 p-4 " style=" height: -webkit-fill-available;">

  <div class="w-96    px-2 bg-white" style="height: 100%;overflow: hidden;" >

    <header class="flex justify-between w-full p-3 text-gray-600 " style="height:10%;">
      <h4>Events</h4>
      <button class="buttonSorange " (click)="downloadEvents()" >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
      </button>
    </header>


    <div style="height: 90%;overflow: auto;" >
     
      <div *ngFor="let event of events" [ngClass]="{'bg-gray-200': event.CID == event_id}"  
      class=" mr-3 rounded-xl border border-1 justify-center items-center border-gray-200 flex  p-2 my-1">

      
        <div class="w-4/5 ">
          <h1 class="text-gray-500 text-lg">{{event.program1}}</h1>
            <h1 class="text-gray-500 text-sm">{{event.sponsor}}</h1>
          </div>

          <div class="w-1/5 ">
            <svg (click)="orders(event.CID)" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </div>

       
          
       
      
        
    </div>
  </div>

    </div>
  
  <div class=" w-full bg-white rounded-xl " style="height: auto;">
      <app-list-orders [event_id]="event_id"></app-list-orders>
  </div>


</div>
